.plus {

    display: flex;
    justify-content: center;


    flex: 0 0 28px;
    height: 28px;

    background: #B8C9DF;
    font-size: 20px;
    font-weight: 400;

    margin-left: 15px;
    border-radius: 5px;

    transition: all 0.15s ease;
    cursor: pointer;
    user-select: none;

    line-height: 120%;

    & span {
        color: white;
    }

    &:hover {
        background: #378FF6;
        color: white;
    }

    &-open {
        background: #378FF6;



        & span {
            color: white;
            transition: all 0.15s ease;
            transform: rotate(45deg);
        }
    }
}

.plus-close {
    & span {
        transition: all 0.15s ease;
        transform: rotate(0deg);
    }
}