.vacancies {
    background: white;
    padding: 15px;

    &__title {
        display: block;
        width: 100%;

        color: #787878;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 15px;

        &:hover {
            transition: 0.15s ease all;
            color: black;
        }
    }

    &__item {
        display: flex;
        margin-bottom: 20px;
    }
}

.information-vacancies {

    &__description {}

    &__title {
        font-family: Arial;
        font-weight: 600;
        margin-bottom: 3px;
        color: #333A4D;
        font-weight: 600;

        &:hover {
            text-decoration-line: underline;
        }
    }

    &__city {
        color: #8B92A5;
    }

    &__salary {
        color: #8B92A5;
    }
}

.item-vacancies {
    &__img {
        display: block;
        content: '';

        min-width: 40px;
        height: 40px;

        background: #262626;

        border-radius: 45px;

        margin-right: 20px;
    }

    &__information {
        color: aqua;
    }
}